<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.message.mapper.AdminLabelMapper">

    <resultMap type="com.byd.message.entity.AdminLabel" id="AdminLabelMap">
        <result property="labelId" column="label_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="ctime" column="ctime" jdbcType="TIMESTAMP"/>
        <result property="orders" column="orders" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AdminLabelMap">
        select
          label_id, name, title, ctime, orders
        from message.admin_label
        where label_id = #{labelId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdminLabelMap">
        select
          label_id, name, title, ctime, orders
        from message.admin_label
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AdminLabelMap">
        select
        label_id, name, title, ctime, orders
        from message.admin_label
        <where>
            <if test="labelId != null">
                and label_id = #{labelId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="ctime != null">
                and ctime = #{ctime}
            </if>
            <if test="orders != null">
                and orders = #{orders}
            </if>
        </where>
    </select>
    <select id="queryLabs" resultMap="AdminLabelMap">
        select
                al.*
            from
                admin_label al
            where
                al.label_id in(
                select
                    ap.permission_value
                from
                    (
                    select
                        role_id
                    from
                        admin_user_role
                    where
                        user_id =
                        #{user_id}
                        ) as aur
                    left join admin_role_permission arp on
                        aur.role_id = arp.role_id
                    left join admin_permission ap on
                        arp.permission_id = ap.permission_id )
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="labelId" useGeneratedKeys="true">
        insert into message.admin_label(name, title, ctime, orders)
        values (#{name}, #{title}, #{ctime}, #{orders})
    </insert>

    <insert id="insertBatch" keyProperty="labelId" useGeneratedKeys="true">
        insert into message.admin_label(name, title, ctime, orders)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.title}, #{entity.ctime}, #{entity.orders})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="labelId" useGeneratedKeys="true">
        insert into message.admin_label(name, title, ctime, orders)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.title}, #{entity.ctime}, #{entity.orders})
        </foreach>
        on duplicate key update
        name = values(name) , title = values(title) , ctime = values(ctime) , orders = values(orders)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update message.admin_label
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="ctime != null">
                ctime = #{ctime},
            </if>
            <if test="orders != null">
                orders = #{orders},
            </if>
        </set>
        where label_id = #{labelId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from message.admin_label where label_id = #{labelId}
    </delete>

</mapper>

